python-magic==0.4.27
python-magic-bin==0.4.14
rarfile==4.2
py7zr==0.21.0
PyPDF2==3.0.1
PyMuPDF==1.24.2
tika==2.6.0
tldextract==5.1.2
python-docx==1.1.2
oletools==0.60.1
langdetect==1.0.9
msoffcrypto-tool==5.4.0
pywin32==306
pefile==2023.2.7
python-dotenv==1.0.1
typer==0.12.3
Jinja2==3.1.4
